<section class="app" id="change-password">
    <h1 data-trans>
        Change password
    </h1>

    <form id="form">
        <label for="current-password" data-trans>
            Current password:
        </label>
        <input
            type="password"
            name="current-password"
            data-trans="placeholder"

            placeholder="Password"
            required="required" />

        <label for="new-password" data-trans>
            New password:
        </label>
        <input
            type="password"
            name="new-password"
            data-trans="placeholder"

            autocomplete="new-password"
            minlength="6"
            placeholder="Password"
            required="required" />
        <input
            type="password"
            data-trans="placeholder"

            autocomplete="new-password"
            placeholder="Confirm password"
            required="required" />

        <div class="row buttons">
            <input
                type="submit"
                id="submit"
                data-trans="value"

                value="Change password" />
            <input
                type="button"
                class="cancel"
                id="cancel"
                data-trans="value"

                value="Cancel"
                onclick="history.back()"/>
        </div>
    </form>
</section>
