<section class="app" id="overview">
    <h1 data-trans>
        Hi, ${me.name}!
    </h1>

    <section class="for-child">
        <h2 data-trans>
            My account
        </h2>
        <p data-trans>
            I have ${account.balance.str} to spend.
        </p>
        <table id="my-transactions">
            <caption data-trans>
                Most recent events:
            </caption>

            <tbody>
                <template>
                    <tr>
                        <td><div><a class="managed"></a></div></td>
                        <td><div class="managed"></div></td>
                    </tr>
                </template>
            </tbody>
        </table>

        <div class="buttons row">
            <a href="#transactions.${me.uid}" data-trans>See all</a>
        </div>
    </section>

    <section class="for-child">
        <h2 data-trans>
            My wishes
        </h2>
        <table id="my-requests">
            <caption data-trans>
                All wishes:
            </caption>

            <tbody>
                <template>
                    <tr>
                        <td><div><a class="managed"></a></div></td>
                        <td><div class="managed"></div></td>
                    </tr>
                </template>
            </tbody>
        </table>

        <div class="buttons row">
            <a href="#make-request" data-trans>Make a wish!</a>
        </div>
    </section>

    <section class="for-parent">
        <h2 data-trans>
            Wishes and balances
        </h2>
        <template id="family-requests">
            <hr/>
            <table class="collapsible collapsed empty">
                <caption
                    class="managed"
                    onclick="this.parentNode.classList.toggle('collapsed')">
                </caption>

                <tbody>
                    <template>
                        <tr>
                            <td><div><a class="managed"></a></div></td>
                            <td><div class="managed"></div></td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <div class="buttons row">
                <a class="managed"></a>
            </div>
        </template>
    </section>

    <section class="for-parent">
        <h2 data-trans>
            Most recent events
        </h2>
        <template id="family-transactions">
            <hr/>
            <table class="collapsible collapsed empty">
                <caption
                    class="managed"
                    onclick="this.parentNode.classList.toggle('collapsed')">
                </caption>

                <tbody>
                    <template id="family-transactions-row">
                        <tr>
                            <td><div><a class="managed"></a></div></td>
                            <td><div class="managed"></div></td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <div class="buttons row">
                <a class="managed"></a>
            </div>
        </template>
    </section>

    <template class="gift template">
        <h2 class="managed"></h2>
        <form>
            <label for="amount" data-trans>
                Amount:
            </label>
            <div class="row">
                <span class="managed"></span>
                <input
                    class="managed"
                    type="number"
                    required="required" />
                <span class="managed"></span>
            </div>

            <label for="description" data-trans>
                Why?
            </label>
            <input
                class="managed"
                type="text"
                data-trans="placeholder"

                placeholder="Because you cleaned your room"
                required="required" />
        </form>
        <p data-trans>
            If you specify a negative amount, it will be deducted
            from your child's balance.
        </p>
    </template>
</section>
