<section class="app" id="settings">
    <h1 data-trans>
        Settings
    </h1>

    <section>
        <h2 data-trans>
            Change password
        </h2>

        <p data-trans>
            If you change your password, you will have to log in again.
        </p>

        <div class="buttons row">
            <input
                type="button"
                data-trans="value"
                value="Change password"
                onclick="location.href = '#change-password';" />
        </div>
    </section>

    <section>
        <h2 data-trans>
            Log out
        </h2>

        <p data-trans>
            Logging out will clear any cached information in this web browser.
        </p>

        <p data-trans>
            You will have to log in again.
        </p>

        <div class="buttons row">
            <input
                type="button"
                class="managed"
                data-trans="value"
                value="Log out" />
        </div>
    </section>
</section>
