<section class="app" id="setting">
    <h1 data-trans>
        Settings
    </h1>

    <form class="managed">
        <h2 data-trans>
            Notifications
        </h2>

        <p data-trans>
            Enabling notifications will allow you to keep track of wishes even
            when you do not have Allo open.
        </p>

        <div class="row">
            <input
                type="checkbox"
                class="managed"
                name="enable-notifications" />
            <label for="enable-notifications" data-trans>
                Enable notifications
            </label>
        </div>
    </form>

    <section>
        <h2 data-trans>
            Change password
        </h2>

        <p data-trans>
            If you change your password, you will have to log in again.
        </p>

        <div class="buttons row">
            <input
                type="button"
                data-trans="value"
                value="Change password"
                onclick="location.href = '#change-password';" />
        </div>
    </section>

    <section>
        <h2 data-trans>
            Log out
        </h2>

        <p data-trans>
            Logging out will clear any cached information in this web browser.
        </p>

        <p data-trans>
            You will have to log in again.
        </p>

        <div class="buttons row">
            <input
                type="button"
                class="managed"
                data-trans="value"
                value="Log out" />
        </div>
    </section>
</section>
