<html>
    <head>
        <title>Allo</title>
        <style>
            #id > h1:first-child {
                margin-top: 0;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <td id="logo" style="
                        border: none;
                        padding: 2em;
                        vertical-align: top;">
                    <img src="cid:logo" style="
                        height: 5em;
                        width: 5em;">
                </td>
                <td id="content" style="
                        border: none;
                        font-family: arial;
                        padding: 2em;
                        padding-left: 4em;
                        max-width: 40em;
                        vertical-align: top;">
                    <message/>
                </td>
            </tr>
        </table>
    </body>
</html>
